<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="kundeside.css">
        <title>
            Alka ulykke anmeldelse
        </title>
    </head>
    <body>
        <h1>Velkommen! Så... Du er kommet i en ulykke?</h1>
        <p>Har du et navn eller form for identifikation for dem involveret i ulykken?</p>
        <input type="text" id="Involveret" name="Involveret">
        <p>Hvilken ulykke har du været i?</p>
        <input type="text" id="Ulykke" name="Ulykke">
        <p>Hvor skete ulykken?</p>
        <input type="text" id="Lokation" name="Lokation">
    </body>
</html>