<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: orangered;
            }
        </style>
        <link rel="stylesheet" href="kundeside.css">
        <title>
            Ulykke anmeldelse
        </title>
    </head>
    <body>
        <h1>Velkommen! Du har været i en trafikulykke?</h1>
        <form method="POST" action="/kundeside">
        <p>Få fat i modpartens, navn, adresse, telefonnummer og registreringsnummer og indtast det nedenfor.<br>Få oplysningerne ved at aflæse det på modpartens kørekort og ring eventuelt til telefonnummeret for at sikre, at modparten ikke giver et falsk telefonnummer.<br>Hvis der er nogle vidner til stede, få dem til at skrive sine oplysninger ned og deres oplevelse af, hvad der skete.</p>
        <p>Indtast oplysninger om dem, der var involveret i ulykken her</p>
        <input type="text" id="Involveret" name="Involveret" required>
        <p>Hvad skete der i ulykken?</p>
        <input type="text" id="Ulykke" name="Ulykke" required>
        <p>Hvor skete ulykken?</p>
        <input type="text" id="Location" name="Location" required> <br><br>
        <label> Upload billede her: </label>
        <input type="file" id="myFile" /> <br /><br />
        <input type="submit" value="Indsend">
        </form>
    </body>
</html>
